/* Existing styles */
.navbar-container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: black;
    width: 100%;
    z-index: 2;
    
  
}

.container-fluid {
    border: 1px solid rgb(62, 60, 60);
    border-radius: 50px;
    background: transparent;
    
}

.bg-body-tertiary {
    background-color: transparent !important;
}

.h3 {
    font-size: 10pc;
}


.nav-link {
    color: grey; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: red !important; 
}
.nav-link:visited {
    color: grey; 
}

.dropdown-item {
    color: grey; 
    transition: color 0.3s ease; 
}

.dropdown-item:hover {
    color: red !important;
    background: transparent;
}
.dropdown-item:visited {
    color: grey;
}

.nav-link.active {
    color: red;
  
}
.btn {
    border: 1px solid black;
    border-radius: 20px;
    
    margin: 2px;
}
.dropdown-menu{
    background: transparent;
}
.btn-danger{
    bs-btn-bg: #ff0018;
}